@model IEnumerable<InventoryFeed.Models.DB.tblInventoryFeed>

     @Styles.Render("~/Content/datatables_css")
     @Scripts.Render("~/bundles/datatables")

	<script type="text/javascript" language="javascript" class="init">
	    $(function () {
	       var table = $('#example').DataTable({
	            stateSave: true,
	            scrollY: "300px",
	            scrollX: true,
	            scrollCollapse: true,
	            paging: false,
	            fixedColumns: {
	                leftColumns: 1,
                    rightColumns: 3
	            },
	            aaSorting: []
	       });

	        
	       
	       
	       console.log(sessionStorage.rowKeyStore);
	       selectPersistedRows(table);

	      $('#example tbody').on('click', 'tr', function (event) {
	              sessionStorage.rowKeyStore = "{}";
	         
	               table.$('tr.selected').removeClass('selected');
	               $(this).addClass('selected');

	               $('.DTFC_Cloned tr.selected').addClass('selected');
	           
	           persistSelection(table.row(this).index(), $(this).hasClass('selected'));
	         
	      });

	      $('.DTFC_Cloned tbody').on('click', 'tr', function (event) {
	          sessionStorage.rowKeyStore = "{}";

	          $('.DTFC_Cloned tr.selected').removeClass('selected');
	          table.$('tr.selected').removeClass('selected');

	          $(this).addClass('selected');

	          persistSelection(table.row(this).index(), $(this).hasClass('selected'));

	      });

	       

	      /* $('#example tbody').on('click', 'tr', function () {
	           if ($(this).hasClass('selected')) {
	               $(this).removeClass('selected');
	           }
	           else {
	               table.$('tr.selected').removeClass('selected');
	               $(this).addClass('selected');
	           }
	       }); */

	    });

	    function selectPersistedRows(table) {
	        if (!(sessionStorage.rowKeyStore))
	            return;

	        var rowKeys = JSON.parse(sessionStorage.rowKeyStore);
	        for (var key in rowKeys) {
	            $(table.row(key).node()).addClass('selected');
	        }
	    }


	    function persistSelection(index, isSelected) {
	        var ss = sessionStorage;
	        if (!(ss.rowKeyStore)) {
	            ss.rowKeyStore = "{}";
	        }
	        var rowKeys = JSON.parse(ss.rowKeyStore);
	        if (isSelected === false && rowKeys.hasOwnProperty(index)) {
	            console.log('removing row ' + index + ' from selection list');
	            delete rowKeys[index];
	        }
	        else if (isSelected) {
	            rowKeys[index] = true;
	        }
	        ss.rowKeyStore = JSON.stringify(rowKeys);
	    }
	</script>

<body onload="lnkProcess('')">

<p>
     <a href="javascript:void(0)" id="lnkCreate" >Create New</a>
    <a  onclick="lnkProcess('')" >All Process</a>
</p>
  
		 <table id="example" class="stripe row-border order-column" cellspacing="0" width="100%">
			 <thead>
            <tr>
                <th style="background-color:white">@Html.DisplayNameFor(model => model.if_id)</th>
                <th>CUSTOMER NO</th>
                <th>FILE TYPE</th>
                <th>SEND VIA</th>
                <th>ADDRESS</th>
                <th>TIME</th>
                <th>SEND BUYERS PARTNO</th>
                <th>SEND ID</th>
                <th>FIELDS</th>
                <th>SEND DAY</th>
                 <th style="background-color:white"></th>
                 <th style="background-color:white"></th>
                 <th style="background-color:white"></th>
            </tr>
        </thead>
         <tfoot>
             <tr align="center">
                 <th style="background-color:white">@Html.DisplayNameFor(model => model.if_id)</th>
                <th>CUSTOMER NO</th>
                <th>FILE TYPE</th>
                <th>SEND VIA</th>
                <th>ADDRESS</th>
                <th>TIME</th>
                <th>SEND BUYERS PARTNO</th>
                <th>SEND ID</th>
                <th>FIELDS</th>
                <th>SEND DAY</th>
                  <th style="background-color:white"></th>
                 <th style="background-color:white"></th>
                 <th style="background-color:white"></th>
            </tr>
        </tfoot>
       
   
    <tbody>
    @foreach (var item in Model) {
        
        <tr align="center">
            <td>@Html.DisplayFor(modelItem => item.if_id)</td>
            <td>@Html.DisplayFor(modelItem => item.customer_no)</td>
            <td>@Html.DisplayFor(modelItem => item.filetype_requested)</td>
            <td>@Html.DisplayFor(modelItem => item.send_protocol)</td>
            <td>@Html.DisplayFor(modelItem => item.protocol_address)</td>
            <td>@Html.DisplayFor(modelItem => item.sendtime)</td>
            <td>@Html.DisplayFor(modelItem => item.sendbuyers_partno)</td>
            <td>@Html.DisplayFor(modelItem => item.sendaaid_instead_brand_id)</td>
            <td>@Html.DisplayFor(modelItem => item.fields)</td>
            <td>@Html.DisplayFor(modelItem => item.sendday)</td>
          
            <td><a onclick="lnkEdit(@Html.DisplayFor(modelItem => item.if_id))" >Edit</a></td>
            <td><a  onclick="lnkProcess(@Html.DisplayFor(modelItem => item.if_id))" >Process</a></td>  
            <td><a onclick="lnkDelete(@Html.DisplayFor(modelItem => item.if_id))" >Delete</a></td>
        </tr>

    
    }
   </tbody>
   </table>

<div id="page-content"></div>
       
</body>
@Scripts.Render("~/bundles/mainscript")
			
   

 
 